<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-link" routerLink="/">Register<span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="/login">Login<span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="/chat">Chat<span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="/addteam">Create Team<span class="sr-only">(current)</span></a>
  </div>
</nav>


<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
        <!--<chat-app></chat-app>-->
      </div>
    </div>
  </div>

